amqp==2.4.2
appdirs==1.4.3
beautifulsoup4==4.7.1
billiard==3.5.0.5
bs4==0.0.1
celery==4.2.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cssselect==1.0.3
fake-useragent==0.1.11
Flask==1.0.2
gevent==1.4.0
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
kombu==4.4.0
lxml==4.6.3
MarkupSafe==1.1.1
meld3==1.0.2
parse==1.11.1
pyee==5.0.0
pymongo==3.7.2
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2018.9
redis==3.2.0
requests==2.21.0
requests-html==0.10.0
six==1.12.0
soupsieve==1.8
supervisor==4.0.0.dev0
tqdm==4.31.1
urllib3==1.24.1
vine==1.2.0
w3lib==1.20.0
websockets==7.0
Werkzeug==0.14.1
xmlrpc2==0.3.1
